@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap");

body {
  background: #ffc1cc;
  font-family: Arial, sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  border: 3px solid pink;
  padding: 20px;
  text-align: center;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  color: #333;
  margin-bottom: 0.5em;
}

h3 {
  color: #555;
  font-size: 1.2em;
  font-family: "Playwrite US Modern", cursive;
}

p,
h3 {
  color: #666;
  font-size: 1em;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background: #e60073;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #c30062;
}

@keyframes swing {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

#bannerImage {
  display: block;
  margin: auto;
  width: 60%;
  height: auto;
  transform-origin: 50% 50%;
  animation: swing 5s infinite ease-in-out;
}
